{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Jobs Matched</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Type</th>
                  <th>Rating</th>
                  <th>Updated</th>
                  <th>Originator</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>8383298</td>
                  <td>Retail</td>
                  <td>88%</td>
                  <td>08/22/2015</td>
                  <td>Clarks</td>
                </tr>
                <tr>
                  <td>7938273</td>
                  <td>Retail</td>
                  <td>80%</td>
                  <td>07/09/2015</td>
                  <td>IHOP</td>
                </tr>
                <tr>
                  <td>7842433</td>
                  <td>Retail</td>
                  <td>71%</td>
                  <td>07/01/2015</td>
                  <td>IHOP</td>
                </tr>
                <tr>
                  <td>7278389</td>
                  <td>Retail</td>
                  <td>65%</td>
                  <td>06/14/2015</td>
                  <td>Home Depot</td>
                </tr>
                <tr>
                  <td>6832990</td>
                  <td>Accounting</td>
                  <td>65%</td>
                  <td>03/23/2015</td>
                  <td>Accounting R US</td>
                </tr>
                <tr>
                  <td>6832971</td>
                  <td>Labor</td>
                  <td>30%</td>
                  <td>03/15/2015</td>
                  <td>Home Depot</td>
                </tr>
                <tr>
                  <td>6783333</td>
                  <td>Retail</td>
                  <td>30%</td>
                  <td>02/27/2015</td>
                  <td>Hallmark</td>
                </tr>
              </tbody>
            </table>
          </div>
{% endblock %}