{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Viewed Registration</h2>
        <div class="container">
        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div> {% endif %}

        <div class="form-group">
          <form class="form-horizontal" action="{{ url_for('create_user_request') }}" method="post">
          	<fieldset>

	
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="inputName">Name</label>  
			  <div class="col-md-4">
			  <input id="inputName" name="inputName" type="text" placeholder="John Doe" class="form-control input-md" required value="{{ retUserName }}">
			  <!--<span class="help-block">help</span>  -->
			  </div>
			</div>				

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="inputEmail">Email</label>  
			  <div class="col-md-4">
			  <input id="inputEmail" name="inputEmail" type="email" placeholder="john@gmail.com" class="form-control input-md" required value="{{ retEmail }}">
			  <!--<span class="help-block">help</span>  -->
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="inputZip">Zip Code</label>  
			  <div class="col-md-4">
			  <input id="inputZip" name="inputZip" type="text" placeholder="zip" class="form-control input-md" required value="{{ retZip }}">
			  <!--<span class="help-block">help</span>  -->
			  </div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="inputFOI">Field of Interest</label>
			  <div class="col-md-4">
			    <select id="inputFOI" name="inputFOI" class="form-control">
			    {% for foi in foi_options %}
                 <option value="{{foi.id}}">{{foi.name}}</option>
                {% else %}
                <option value="n/a">n/a</option>
                {% endfor %}
			    </select>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="inputYears">Years Experience</label>  
			  <div class="col-md-4">
			  <input id="inputYears" name="inputYears" type="text" placeholder="1" class="form-control input-md" value="{{ retYears }}">
			  <!--<span class="help-block">help</span>  -->
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label"></label>  
			  <div class="col-md-4">
			  <button class="btn btn-lg btn-primary btn-block" type="submit" method="post">Register</button>
			  </div>
			</div>

            
			</fieldset>
          </form>
         </div>
        </div>
     
{% endblock %}